@model GestionSuperheroes.Web.Models.SuperheroeViewModel
@using GestionSuperheroes.Data.EF

<h2 class="mb-4">Agregar Nuevo Superheroe</h2>

@* @Html.ValidationSummary(true, "", new { @class = "text-danger mb-3" }) *@

<form method="post" asp-action="AgregarSuperheroe" class="row g-3">

    <div class="col-md-3">
        <label asp-for="NombreSuperheroe" class="form-label"></label>
        <input asp-for="NombreSuperheroe" class="form-control" placeholder="Ingresa el nombre del superheroe." />
        <span asp-validation-for="NombreSuperheroe" class="text-danger"></span>
    </div>

    <div class="col-md-6">
        <label asp-for="IdUniverso" class="form-label"></label>
        <select asp-for="IdUniverso" class="form-select" asp-items="@(new SelectList((List<Universo>)ViewBag.universos, "IdUniverso", "NombreUniverso", ViewBag.EscuderiaSeleccionada))">
            <option value="">Seleccione un destino</option>
        </select>
        <span asp-validation-for="IdUniverso" class="text-danger"></span>
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-primary">Registrar Superheroe</button>
        <a asp-action="ListarSuperheroes" class="btn btn-link">Ver listado de Superheroes</a>
    </div>
</form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}